[buildout]
parts = multivisor test
develop = .

[multivisor]
recipe = zc.recipe.egg:scripts
eggs =
    PasteScript
    multivisor

[test]
recipe = pbp.recipe.noserunner
eggs = martian
       nose
       coverage
script = test
defaults = -s -v --with-doctest --doctest-extension=rst --with-coverage --cover-package=multivisor --cover-html