<!--<html xmlns="http://www.w3.org/1999/xhtml"> -->
{% extends "base.html" %}
{% block main %}
<div>
    <h1>{{ root }}</h1>
    {% for process in processes %}
    <div id='{{ process.id }}' class="line process">
        <div class="unit size1of4">
            <h2><a href='{{ process.path }}' class='process-link'>{{ process.name }}</a></h2>
            <p>On server: <a href='{{ process.server.path }}'>{{ process.server.name }}</a></p>
        </div>
        <div class="unit size3of4 lastUnit">
            <div id='{{ process.id }}-chart'class='chart-wrapper'></div>
        </div>
    {% endfor %}
</div>
{% endblock %}