<!--<html xmlns="http://www.w3.org/1999/xhtml"> -->
{% extends "base.html" %}
{% block extrahead %}
<script>
    var running = [{% for server in root.servers %}
                    {{ server.running_processes|length }}{% if not loop.last %}, {% endif %}
                   {%- endfor %}]
    var all = [{% for server in root.servers %}
                {{ server.num_processes }}{% if not loop.last %}, {% endif %}
               {%- endfor %}]

</script>
{% endblock %}
{% block main %}
<div id='server-chart'>

</div>
<div>
    {% for server in root.servers %}
        <h2 class='server'>
            <a href='{{ server.path }}'>{{ server.name }}</a>
            <span>{{ server.running_processes|length }}/{{ server.num_processes }} processes</span>
        </h2>
        {% for process in server.all_processes() %}
            {{ process.html }}
        {% endfor %}
    {% endfor %}
</div>
{% endblock %}